.item-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--brown-color) solid;
    background-color: var(--cream-color);
    position: relative;
    width: 300px;
    height: 400px;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);
}

.item-container button {
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--orange-color);
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* .item-container p {
    width: 15vw;
    height: 10vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.item-container h3 {
    margin-top: 1vh;
} */

.btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.btn-container .prev-btn {
    margin-right: 10px;
}

.ar-btns {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.ar-btns .reject {
    background-color: var(--purple-color);
}