/* Home Page */
#hero {
    height: 90vh;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.hero-texts {
    padding: 0 80px;
}

.hero-texts h4 {
    font-size: 25px;
    margin: 0;
}
.hero-texts h2,
.hero-texts h1 {
    font-size: 35px;
    margin: 0;
    color: var(--light-color2);
} 

.hero-texts p {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 15px;
}

#hero button {
    background-image: url("/assets/imgs/button_splash3.png");
    background-color: transparent;
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 25px;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
}

.hero-background {
    position: absolute;
    right: 0;
    top: 15%;
    bottom: 0;
    left: 20%;
    z-index: -1;
    width: 80%;
    height: 80%;
}

.hero-background img {
    max-width: 100%;
    height: auto;
}


/* CATEGORIES */
.categories {
    display: flex;
    flex-direction: column;
}

.categories-header {
    text-align: center;
    width: 100%;
}

.category-sections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    text-align: center;
}

.category img {
    width: 50%;
    height: auto;
    border-radius: 50px;
    border: #088178;
    border-style: solid;
    transition: 0.5s;
}

.category img:hover {
    background-color: var(--dark-color-transluscent);
    transform: scale(1.2);
}

.for-you .listings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: #088178;
    border-style: solid;
}

.for-you .listed {
    width: calc(20% - 10px);
    background-color: var(--light-white-color);
    border: 1px solid var(--light-color2);
    box-sizing: border-box;
}

.listedItem {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--dark-color) solid;
    position: relative;
    width: 300px;
    height: 400px;
}

.listedItem button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-color2);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.btn-container .prev-btn {
    margin-right: 10px;
}

.buy-btn {
    margin-bottom: 10px;
}

.scrollable-images {
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrollable-images img {
    /* Ensure the images are visible */
    width: 50%;
    max-width: 100%;
    height: 150px;
}

.scrollable-images img:first-child {
    display: inline-block;
}

.scrollable-images img:not(:first-child) {
    display: none; /* Hide all images except the first one */
}

.item-details {
    overflow-y: scroll;
}